<!DOCTYPE html>
<html>
  <body>
    <p>Login via code flow</p>
    <form method="POST">
      <button type="submit">Login</button>
    </form>
    <p>
      Once successfully authenticated, you should be back here,
      access token and potentially other information concerning
      the authentication should be provided in the hash value of the url.
    </p>
    <% if (isLoggedIn) { %>
      <p id="logged-in">Logged in.</p>
    <% } %>
  </body>
</html>
