<!DOCTYPE html>
<html>
  <head>
    <title>Logout?</title>
  </head>
  <body>
    <header>
      <p>Are you sure you want to log out?</p>
      <form method="POST">
        <button type="submit">Logout</button>
      </form>
    </header>
  </body>
</html>
